[user]
    name = Randy J. Ray
    email = rjray@blackperl.com
[apply]
    whitespace = nowarn
[color]
    status = auto
    branch = auto
    diff = auto
[github]
    user = rjray
    token = $githubtoken
[core]
    excludesfile = $HOME/.gitexcludes
[pager]
    status = no
    log = no
    diff = no
    branch = no
[alias]
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    co = checkout
    l = log --name-status
    ll = log -p
    lt = log trunk..
    llt = log -p trunk..
    lm = log master..
    llm = log -p master..
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
    b = branch
    hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
    initempty = "!f(){ git init \"$@\" && git commit -m \"(initial empty commit)\" --allow-empty;};f"
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    last = "!f(){ \
        git reflog \
        | perl -nE'BEGIN{ $i = shift @ARGV }' \
                -E'say $1 if /moving from (.*?) to/ and ( $i eq \"all\" or ! $i-- )' $1 \
        }; f"
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format: %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    undo = reset HEAD~1 --mixed
    clear = reset --hard HEAD
    archeology = blame -w -C -n
    tmpstash = stash push -u -m 'Tmp Stash'
    # gitk
    gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
    k = !gitk
[commit]
    template = $HOME/.gitmessage
