[user]
    name = Randy J. Ray
    email = rjray@blackperl.com
[apply]
    whitespace = nowarn
[color]
    status = auto
    branch = auto
    diff = auto
[github]
    user = rjray
    token = GITHUBTOKEN
[core]
    excludesfile = /Users/rjray/.gitexcludes
[pager]
    status = no
    log = no
    diff = no
[alias]
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    co = checkout
    l = log
    ll = log -p
    lt = log trunk..
    llt = log -p trunk..
    lm = log master..
    llm = log -p master..
    b = branch
    up = pull --rebase origin master
    pom = push origin master
    hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
    initempty = "!f(){ git init \"$@\" && git commit -m \"(initial empty commit)\" --allow-empty;};f"
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
    submodule-rm = !git-submodule-rm.sh
