###############################################################################
#
#   Sub Name:       ${1:subname}
#
#   Description:    ${2:description}
#
#   Arguments:      NAME      IN/OUT  TYPE      DESCRIPTION
#                   ${3}
#
#   Globals:        None.
#
#   Environment:    None.
#
#   Returns:        Success:    1
#                   Failure:    0
#
###############################################################################
